<h1>Resumes#new</h1>
<p>Find me in app/views/resumes/new.html.erb</p>
<% if !@resume.errors.empty? %>
<ul>   
 <% @resume.errors.full_messages.each do |msg| %>   
    <li><%= msg %></li>   
    <% end %>
</ul>

<div>   
   <%= form_for @resume, html: { multipart: true } do |f| %>   
      <%= f.label :name %>   
      <%= f.text_field :name %>   
      <br>   
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Upload" %>   
   <% end %>   
</div>   